body {
    font-family: Arial;
    font-size: 12px;
    background-color: #aebddb;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
td {
    font-family: Arial;
    font-size: 18px;
    color: #000000;
}
.maxavg {
    font-family: Arial;
    font-style: italic;
    font-size: 13px;
    color: #334450;
}
a {
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    color: #334450;
}
.tr_odd {
    background-color: #becdeb;
}
.tr_even {
    background-color: #aebddb;
}
.tr_odd td, .tr_even td {
    padding-top: 4px;
    padding-bottom: 4px;
}
.rebustable {
    background-color: #aebddb;
    padding: 20px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: #aebddb;
/*    background-image:url('logga2.gif'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 5px 5px;
    font-size: 18px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 33px;
    vertical-align: top;
    text-align: left;
    height: 80px
}
.headerline {
    background-color: #ffffff;
    height: 0px;
}
.rub1 {
    font-family: 'Arial Black';
    font-size: 24px;
    color: #ffffff;
}
.rub2 {
    color: #5384e5;
}
.rub3 {
    color: #ffffff;
}
.rub4 {
    font-size: 10px;
}
.rub5 {
    font-size: 10px;
    color: #ffffff
}
.rebustext {
    font-size: xx-large;
    text-align: left;
}
.orginalrebus {
    font-family: Arial Black;
    line-height: 70%;
}
.rebusortDiv {
    padding: 10px;
    text-align: center;
}
.rebusortSvart {
    font-family: TratexSvart, 'Arial Black';
    border:4px solid #c8002d;
    margin:4px 0 4px 0;
    padding: 5px 20px 5px 20px;
    text-align:center;
    background-color: #f4cd24;
}
.rebusort {
    font-family: TratexVit, 'Arial Black';
    color: #ffffff;
    border:4px solid #ffffff;
    margin:4px 0 4px 0;
    padding: 5px 20px 5px 20px;
    text-align:center;
    background-color: #03326b;
    letter-spacing:4px;
}
.rebusop {
    font-size: x-large;
    font-style: italic;
    text-align: center;
}
.rebusmaker {
    font-size: small;
    font-style: italic;
}
.logo {
    vertical-align: middle;
    float: right;
}
.graph_bar {
    fill: #000050;
}
.chart text {
    font: 16px sans-serif;
}
.graph_odd {
    fill: #becdeb;
}
.graph_even {
    fill: #aebddb;
}
.maxline {
    stroke: #000050;
    stroke-width: 2px;
}
.maxline-text {
    fill: #000050;
}

.content {
    margin-top: 20px;
    text-align: center;
}
.headertitle {
    float:left;
}
.headerlogo {
    float:right;
}
.disabled {
    fill: #505050;
}
